.page-top {
  position: relative; }

.container {
  background: #f7f7f7; }

.index-lines span {
  display: block;
  position: fixed;
  z-index: 9999;
  background: #e9c39f; }

.index-lines .l1, .index-lines .l3 {
  width: 100%;
  height: 10px; }

.index-lines .l2, .index-lines .l4 {
  height: 100%;
  width: 10px; }

.index-lines .l4, .index-lines .l1 {
  top: 0;
  left: 0; }

.index-lines .l2, .index-lines .l3 {
  right: 0;
  bottom: 0; }

.index-bg {
  position: relative;
  z-index: 1;
  background: #3c4151 url(../images/index_bg.jpg) repeat; }
  .index-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(../images/index_bg2.png) repeat-y center top; }

@media screen and (max-width: 1920px) {
  .index-bg:before {
    background-size: cover; } }

.banner .pic2 {
  position: absolute;
  top: 0;
  left: 0; }

.banner .txts {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -200px;
  width: 400px;
  height: 400px;
  border: 3px solid #fff;
  box-sizing: border-box;
  color: #fff; }
  .banner .txts a {
    color: #fff; }

.banner .t {
  line-height: 310px; }
  .banner .t img {
    display: inline;
    max-width: 100%;
    vertical-align: middle; }

.banner .b {
  padding-top: 20px;
  border-top: 1px solid #fff; }

.banner .ti2 {
  line-height: 1.4;
  font-size: 16px; }

.banner .date {
  font-style: italic;
  margin-top: 1px; }

.slick-dots {
  bottom: 35px; }
  .slick-dots li {
    width: 14px;
    height: 14px;
    margin: 0 15px;
    border: 4px solid #fff;
    background: none; }
  .slick-dots .slick-active {
    border-color: #b22c30; }

@media screen and (min-width: 1025px) {
  .slick-dots li:hover {
    border-color: #b22c30; } }

.header .logo {
  position: absolute;
  z-index: 500;
  left: 40px;
  top: 35px;
  width: 80px; }

.logo img {
  display: block;
  width: 100%; }

.menu-btn {
  position: fixed;
  top: 45px;
  right: 55px;
  z-index: 2000;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #b22c30;
  cursor: pointer;
  transition: background .3s; }
  .menu-btn span, .menu-btn span:before, .menu-btn span:after {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff; }
  .menu-btn span:before, .menu-btn span:after {
    content: "";
    right: 0;
    transition: background .3s, transform .6s; }
  .menu-btn span {
    display: block;
    top: 50%;
    margin-top: -1px;
    right: 15px;
    width: 16px;
    animation: long 1s .3s linear infinite alternate both;
    transition: background .3s; }
  .menu-btn span:before {
    bottom: 100%;
    margin-bottom: 5px;
    animation: long 1s 0s linear infinite alternate both; }
  .menu-btn span:after {
    top: 100%;
    margin-top: 5px;
    animation: long 1s .6s linear infinite alternate both; }
  .menu-btn.active {
    background: #e9c39f; }
    .menu-btn.active span:before, .menu-btn.active span:after {
      animation: none;
      background: #b22c30; }
    .menu-btn.active span {
      background: none;
      animation: none; }
    .menu-btn.active span:before {
      bottom: 0;
      margin: 0;
      transform: rotate(-135deg); }
    .menu-btn.active span:after {
      top: 0;
      margin: 0;
      transform: rotate(315deg); }

@keyframes long {
  0% {
    width: 10px; }
  100% {
    width: 20px; } }

@media screen and (min-width: 1025px) {
  .menu-btn:not(.active):hover {
    background: #e9c39f; }
    .menu-btn:not(.active):hover span, .menu-btn:not(.active):hover span:before, .menu-btn:not(.active):hover span:after {
      background: #b22c30; }
  .menu-btn.active:hover {
    background: #fa9497; } }

.menuBox {
  position: fixed;
  z-index: 1990;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/nav_bg.jpg);
  color: #fff;
  overflow: hidden;
  display: none; }
  .menuBox a {
    color: #fff; }
  .menuBox .pic2 {
    width: 41.66%;
    height: 100%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .menuBox .menur {
    width: 58.34%;
    height: 100%;
    padding: 11.45833% 105px 60px 8.07292%;
    box-sizing: border-box;
    float: right;
    background: url(../images/nav_bg1.jpg) no-repeat right bottom; }

.navMobile {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .navMobile::-webkit-scrollbar {
    width: 6px;
    background: #fa9497; }
  .navMobile::-webkit-scrollbar-thumb {
    background: #b22c30; }
  .navMobile dd {
    margin-bottom: 35px; }
    .navMobile dd:first-child {
      display: none; }
    .navMobile dd a {
      display: block;
      line-height: 1.4; }
    .navMobile dd > a {
      font-weight: bold;
      font-size: 16px; }
  .navMobile .mtv {
    overflow: hidden;
    margin-top: 10px; }
    .navMobile .mtv a {
      float: left;
      margin: 5px 30px 0 0;
      color: #fa9497; }

@media screen and (min-width: 1025px) {
  .navMobile a:hover {
    color: #e9c39f; } }

.top-news {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 200;
  padding: 25px 20px 30px 40px;
  box-sizing: border-box;
  width: 545px;
  max-width: 100%;
  background: rgba(58, 63, 79, 0.9);
  color: #fff; }
  .top-news a {
    color: #fff; }
  .top-news .ti {
    margin-bottom: 7px;
    font-size: 12px; }

.top-news-list .item > a {
  display: block;
  line-height: 20px;
  padding-right: 10px; }

.top-news-list .date {
  float: right;
  margin-left: 20px; }

.top-news-list .nowti {
  line-height: 20px; }

@media screen and (min-width: 1025px) {
  .top-news-list .item > a:hover {
    color: #b22c30; } }

.footer {
  background: url(../images/nav_bg.jpg);
  padding: 65px 0;
  color: #fa9497;
  line-height: 1.6; }
  .footer a {
    color: #fa9497; }
  .footer .logo {
    width: 131px;
    max-width: 100%;
    margin: 0 auto; }
  .footer .f-cop {
    margin-top: 25px; }
    .footer .f-cop a {
      display: block; }
  .footer .f-share {
    margin-top: 60px; }

.f-share {
  line-height: 26px; }
  .f-share a {
    padding: 0 28px;
    font-size: 22px; }
    .f-share a + a {
      border-left: 1px solid #fa9497; }

@media screen and (min-width: 1025px) {
  .footer a:hover {
    color: #e9c39f; } }

.ix1 {
  padding: 250px 0 0 14.58333%; }

.character-intro .picbox {
  z-index: 9;
  height: 368px;
  width: 654px;
  max-width: 100%;
  background: #e9c39f;
  overflow: visible; }

.character-intro .ix-ti {
  height: 100%;
  padding-top: 30px; }

.character-intro .ci {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%; }

.character-intro .ci-tx {
  position: relative;
  margin: -165px 0 0 295px; }

.ci-tx {
  z-index: 20;
  background: #4b5063;
  width: 574px;
  padding: 40px 50px;
  box-sizing: border-box;
  color: #fff; }
  .ci-tx a {
    color: #fff; }
  .ci-tx .freeTx {
    margin-bottom: 30px; }

.ix-ti {
  width: 120px;
  box-sizing: border-box;
  background: #b22c30 url(../images/index_bg1.jpg) no-repeat right bottom;
  background-size: 100% auto;
  text-align: center; }
  .ix-ti img {
    vertical-align: bottom; }

.btn-box {
  letter-spacing: -6px;
  line-height: 0; }

.btn {
  display: inline-block;
  vertical-align: bottom;
  letter-spacing: 0;
  line-height: 1.8; }

.ci-more {
  border-bottom: 1px solid #fff;
  padding: 0 45px 7px 0;
  font-size: 12px; }

@media screen and (min-width: 1025px) {
  .ci-more:hover {
    color: #b22c30;
    padding-right: 15px;
    border-color: #b22c30; }
  .character-intro .ci-more:hover {
    color: #b22c30; } }

.ix2 {
  padding-top: 200px; }

.yz-seminar {
  position: relative;
  padding-left: 14.58333%; }
  .yz-seminar .ix-ti {
    position: absolute;
    top: -55px;
    bottom: 40px;
    right: 65px;
    padding-top: 50px; }
  .yz-seminar .pai {
    padding-bottom: 56.58537%; }
    .yz-seminar .pai:before, .yz-seminar .pai:after {
      content: ""; }
    .yz-seminar .pai:before, .yz-seminar .pai:after, .yz-seminar .pai .line {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 9;
      margin-left: -7px;
      width: 14px;
      background: #4b5063; }
    .yz-seminar .pai:before {
      left: 25%; }
    .yz-seminar .pai:after {
      left: 50%; }
    .yz-seminar .pai .line {
      display: block;
      left: 75%; }
  .yz-seminar .ci-tx {
    position: absolute;
    left: 0;
    bottom: 40px; }

.ix5, .ix4, .ix3 {
  padding-top: 150px; }

.yz-fellowship .ix-ti {
  float: left;
  height: 310px;
  padding-top: 40px; }

.yz-fellowship .fellowship-r {
  margin-left: 175px; }

.fellowship-list {
  overflow: visible;
  margin-left: -20px; }

.fellowship-arrow .slick-arrow {
  right: auto;
  top: 310px;
  margin: 0;
  width: 60px;
  height: 60px; }
  .fellowship-arrow .slick-arrow i {
    display: block;
    height: 100%;
    background: url(../images/aw1.png) no-repeat; }

.fellowship-arrow .slick-prev {
  left: -155px;
  background: #e9c39f; }

.fellowship-arrow .slick-next {
  left: -95px;
  background: #fff; }
  .fellowship-arrow .slick-next i {
    background-position: right top; }

@media screen and (min-width: 1025px) {
  .fellowship-arrow .slick-arrow:hover {
    background: #b22c30; }
  .fellowship-arrow .slick-prev:hover i {
    background-position: left bottom; }
  .fellowship-arrow .slick-next:hover i {
    background-position: right bottom; } }

.fellowship-a {
  display: block;
  margin-left: 20px;
  padding-left: 30px; }
  .fellowship-a .pai {
    padding-bottom: 63.82979%; }
  .fellowship-a .fs-tx {
    position: relative;
    margin: -40px 40px 0 -30px;
    height: 210px;
    padding: 40px 45px 0 30px; }

.fs-tx {
  padding: 50px 45px 0 45px;
  background: #4b5063;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  transition: 400ms; }
  .fs-tx .nowti {
    margin-bottom: 8px;
    font-size: 20px; }
  .fs-tx .tx {
    height: 44px;
    margin-bottom: 25px;
    line-height: 22px !important; }
  .fs-tx .clearfix {
    font-size: 12px; }
  .fs-tx .more {
    float: right; }

@media screen and (min-width: 1025px) {
  .fellowship-a:hover .fs-tx {
    background: #b22c30;
    transform: translateY(-10px); } }

.ix4 .ix-ti {
  float: right;
  padding-top: 35px;
  height: 471px; }

.ix4 .academic-list {
  margin-right: 160px; }

.academic-list li {
  width: 50%;
  float: left; }

.academic-list .fs-tx {
  display: block;
  margin: 0 1px 1px 0;
  height: 235px; }

@media screen and (min-width: 1025px) {
  .academic-list .fs-tx:hover {
    background: #b22c30; } }

.ix5 {
  padding-bottom: 120px; }
  .ix5 .works-display-r {
    margin-left: 160px; }

.works-display-list {
  margin-left: -30px;
  padding-bottom: 70px; }
  .works-display-list .slick-dots {
    left: -130px;
    bottom: 0; }

.works-a {
  display: block;
  position: relative;
  margin-left: 30px;
  color: #fff; }
  .works-a .pai {
    padding-bottom: 186.36364%; }
    .works-a .pai:before, .works-a .pai:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      transition: 400ms; }
    .works-a .pai:before {
      background: url(../images/shadow1.png) left bottom;
      background-size: auto 100%; }
    .works-a .pai:after {
      background: url(../images/bg1.png);
      opacity: 0;
      visibility: hidden; }
  .works-a .nowti {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 20;
    padding: 0 5%;
    font-size: 16px;
    text-align: center; }

.wd-see {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 20;
  margin-top: -30px;
  text-align: center;
  color: #fff;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  transition: 400ms; }
  .wd-see .icon {
    display: block;
    margin-bottom: 6px;
    font-size: 28px;
    line-height: 1; }

.works-display {
  position: relative; }
  .works-display .ix-ti {
    position: absolute;
    top: 0;
    bottom: 70px;
    left: 0;
    padding-top: 50px; }

@media screen and (min-width: 1025px) {
  .works-a:hover .pai:before {
    opacity: 0;
    visibility: hidden; }
  .works-a:hover .pai:after {
    opacity: 1;
    visibility: visible; }
  .works-a:hover .wd-see {
    transform: none;
    opacity: 1;
    visibility: visible; } }

.page-bodr {
  border: 10px solid #e9c39f;
  border-bottom: none; }

.pbanner {
  border-bottom: 10px solid #e9c39f; }
  .pbanner .txts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20%;
    color: #fff; }
    .pbanner .txts img {
      vertical-align: bottom;
      max-width: 100%; }
  .pbanner .en {
    margin-top: 20px;
    font-size: 20px; }
  .pbanner .ti {
    margin-bottom: 15px; }

.ab-ti {
  padding-left: 30px; }
  .ab-ti .en {
    width: 470px;
    max-width: 100%;
    margin-top: 15px;
    line-height: 1.4;
    font-size: 16px; }
  .ab-ti h2 {
    position: relative;
    line-height: 0; }
    .ab-ti h2:before {
      content: "";
      position: absolute;
      left: -30px;
      top: 50%;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border: 3px solid #b22c30;
      box-sizing: border-box; }
  .ab-ti img {
    vertical-align: bottom;
    max-width: 100%; }

.formally-established {
  width: 680px;
  max-width: 100%;
  padding: 100px 60px;
  background: url(../images/bg2.png);
  box-sizing: border-box; }
  .formally-established h2 {
    margin-bottom: 30px; }
  .formally-established .freeTx {
    margin-bottom: 35px; }

.fe-more {
  border: 2px solid #666;
  width: 186px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  font-size: 16px;
  transition: 300ms; }
  .fe-more .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    font-size: 24px; }
  .fe-more.white {
    border-color: #fff;
    color: #fff; }

@media screen and (min-width: 1025px) {
  .fe-more:hover {
    background: #b22c30;
    border-color: #b22c30;
    color: #fff; } }

.pw2 {
  width: 1360px;
  margin: 0 auto; }

.ab2 {
  padding: 110px 0; }

.an-assembly {
  background: #4b5063; }
  .an-assembly a {
    color: #fff;
    display: block; }
  .an-assembly .picbox {
    width: 61.7%;
    float: left; }
  .an-assembly .pai {
    padding-bottom: 61.90476%; }
  .an-assembly .txts {
    width: 38.3%;
    float: right;
    padding: 8.08824% 60px 0 60px;
    box-sizing: border-box; }
  .an-assembly .ab-ti {
    padding-left: 0; }
    .an-assembly .ab-ti h2:before {
      display: none; }
  .an-assembly .tx1 {
    margin-top: 30px;
    height: 48px; }
  .an-assembly .tx2 {
    margin-bottom: 40px; }

.aa-more {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: #bfc2cb url(../images/aw2.png) no-repeat center center;
  transition: 300ms; }

@media screen and (min-width: 1025px) {
  .aa-more:hover {
    background-color: #b22c30; } }

.ab1, .ab4, .ab3 {
  padding: 110px 0; }

.ab5 .btn-box, .ab4 .btn-box {
  float: right; }

.ab5 .ab-ti h2, .ab4 .ab-ti h2 {
  margin-right: 200px; }

.ab5 .learning,
.ab4 .congress-list {
  margin-top: 80px; }

.congress-list {
  padding: 0 95px;
  margin-left: -25px; }

.congress-a {
  display: block;
  height: 255px;
  margin-left: 25px;
  background: #fff;
  padding: 20px 35px 0 35px;
  box-sizing: border-box;
  overflow: hidden; }
  .congress-a .ti {
    height: 52px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px !important;
    font-weight: bold;
    color: #333;
    overflow: hidden; }
  .congress-a .more {
    margin-top: 40px;
    color: #999;
    font-size: 12px; }
  .congress-a .ti, .congress-a .more {
    transition: 300ms; }

.co-date {
  position: relative;
  width: 62px;
  height: 62px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  transition: 300ms; }
  .co-date span {
    display: block; }
  .co-date .m {
    padding-top: 14px; }
  .co-date .y {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px; }
    .co-date .y i {
      display: none; }

@media screen and (min-width: 1025px) {
  .congress-a:hover {
    background: rgba(255, 255, 255, 0.9); }
    .congress-a:hover .ti, .congress-a:hover .more {
      color: #b22c30; }
    .congress-a:hover .co-date {
      border-color: #b22c30;
      background: #b22c30;
      color: #fff; } }

.congress-arrow .slick-arrow {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  margin-top: -36px;
  background: #666; }
  .congress-arrow .slick-arrow i {
    display: block;
    height: 100%; }

.congress-arrow .slick-prev {
  left: 25px; }
  .congress-arrow .slick-prev i {
    background: url(../images/aw3.png) no-repeat center center; }

.congress-arrow .slick-next i {
  background: url(../images/aw4.png) no-repeat center center; }

@media screen and (min-width: 1025px) {
  .congress-arrow .slick-arrow:hover {
    background-color: #b22c30; } }

.learning-spe {
  position: relative;
  width: 37.5%;
  float: left; }
  .learning-spe a {
    color: #fff; }
  .learning-spe .pai {
    padding-bottom: 64.70588%; }
  .learning-spe .nowti {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 25px;
    background: url(../images/black5.png);
    font-size: 16px;
    line-height: 50px; }

.learning-r {
  width: 57.5%;
  float: right; }

.learning-list {
  margin-left: -45px; }
  .learning-list li {
    width: 50%;
    float: left;
    margin-bottom: 50px; }
  .learning-list a {
    display: block;
    margin-left: 45px; }
  .learning-list .pic {
    width: 110px;
    float: left;
    margin-right: 15px; }
  .learning-list .txts {
    overflow: hidden; }
  .learning-list .nowti {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: 300ms; }
  .learning-list .tx {
    margin-bottom: 40px;
    height: 48px; }
  .learning-list .more {
    font-size: 12px; }

@media screen and (min-width: 1025px) {
  .learning-list a:hover .nowti {
    color: #b22c30; } }

.ab5 {
  padding: 110px 0 60px 0; }

.years-list {
  position: relative; }
  .years-list:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid #e9c39f; }
  .years-list li {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 300ms; }
    .years-list li:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 20px;
      left: 20px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background: #4b5063;
      transition: 400ms; }
    .years-list li.act {
      font-size: 32px; }
      .years-list li.act:before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #b22c30; }

@media screen and (min-width: 1025px) {
  .years-list li:hover:before {
    background: #b22c30; } }

.preparation-list {
  background: #fff;
  padding: 50px 60px 100px 60px;
  border-bottom: 10px solid #b22c30; }
  .preparation-list .year {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    color: #333; }
  .preparation-list li {
    display: none; }

.ab1 .years-list {
  margin-bottom: 40px; }

.ab1 .ab-ti {
  margin-bottom: 70px; }

.ab-established-t {
  padding-top: 100px;
  border-bottom: 10px solid #e9c39f;
  background: #111b39 url(../images/ab_bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }
  .ab-established-t a {
    color: #fff; }
  .ab-established-t .freeTx {
    width: 800px;
    margin: 70px auto 0 auto;
    max-width: 100%; }
  .ab-established-t .ti {
    margin-bottom: 25px; }
    .ab-established-t .ti img {
      vertical-align: bottom;
      max-width: 100%; }
  .ab-established-t .ab-back-share {
    margin-top: 50px; }
  .ab-established-t .cha-ti {
    margin-bottom: 15px;
    font-size: 30px; }

.icon-date {
  line-height: 24px; }
  .icon-date .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
    font-size: 18px; }

.basic-intro li + li {
  margin-left: 40px; }

.pw3 {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto; }

.ab-back-share {
  border-top: 1px solid #8c919f;
  padding: 29px 0; }
  .ab-back-share .pnav, .ab-back-share .ab-back {
    float: left; }
  .ab-back-share .ab-share {
    float: right; }
  .ab-back-share .pnav {
    margin-left: 30px; }
  .ab-back-share .ab-back-list {
    float: none;
    margin: 0 auto; }

.ab-back {
  line-height: 30px; }
  .ab-back .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    font-size: 26px; }

.ab-share a {
  line-height: 30px !important;
  height: auto !important;
  background: none !important;
  font-size: 14px !important;
  opacity: 1 !important; }
  .ab-share a:before {
    font-size: 26px;
    vertical-align: bottom;
    margin-right: 10px; }

.ab-back-list {
  display: block;
  width: 80px;
  text-align: center; }

@media screen and (min-width: 1025px) {
  .ab-back:hover {
    color: #b22c30; }
  .ab-share a:hover {
    color: #b22c30 !important; } }

.fe-ti {
  color: #b22c30;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4; }

.ab-established-cont {
  padding-top: 100px; }
  .ab-established-cont .freeTx {
    width: 800px;
    margin: 0 auto 80px auto;
    max-width: 100%; }
  .ab-established-cont .fixbg {
    padding: 100px 0 90px 0;
    margin-bottom: 75px; }
  .ab-established-cont .fe-ti {
    margin-bottom: 20px; }
  .ab-established-cont .btn-box {
    margin-bottom: 50px; }
  .ab-established-cont .leader-bg {
    padding: 75px 0 85px 0;
    margin-top: 85px; }

.fe-aw {
  position: relative;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #fff; }
  .fe-aw:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e9c39f;
    transform: rotateZ(45deg); }
  .fe-aw .icon {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    font-size: 24px;
    animation: arrowUpDown 2s linear infinite alternate both; }

@keyframes arrowUpDown {
  0% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }

.government-list {
  margin-left: -10px; }
  .government-list .pai {
    margin-left: 10px;
    padding-bottom: 120.77922%; }
  .government-list a {
    width: 50%;
    float: left;
    margin-bottom: 10px; }

.government-b {
  width: 780px;
  max-width: 90%;
  margin: 0 auto; }

.leader-ti {
  padding: 25px 25px;
  background: #b22c30;
  line-height: 24px;
  color: #fff; }
  .leader-ti .tit {
    float: left;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold; }
  .leader-ti .text {
    float: left;
    font-size: 16px; }

.leader-table table {
  width: 100%;
  background: #fff;
  text-align: center; }
  .leader-table table td, .leader-table table th {
    padding: 20px 10px;
    width: 25%;
    border: 1px solid #c99f78; }
  .leader-table table td {
    font-size: 16px; }
  .leader-table table tr:nth-child(2n-1) {
    background: #f1e9e1; }
  .leader-table table th {
    background: #e9c39f;
    font-size: 18px;
    color: #fff; }
  .leader-table table .job {
    display: block;
    font-size: 12px;
    color: #999; }

.leader-bg {
  background: #e5e5e5; }

.pnav {
  line-height: 30px; }
  .pnav li {
    float: left; }
    .pnav li > a {
      display: block;
      position: relative;
      z-index: 1;
      padding: 0 30px;
      font-size: 16px; }
      .pnav li > a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: -29px;
        bottom: -29px;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        transition: 300ms; }
      .pnav li > a.act {
        color: #333; }
        .pnav li > a.act:before {
          opacity: 1;
          visibility: visible; }

@media screen and (min-width: 1025px) {
  .pnav li > a:not(.act):hover {
    color: #b22c30; } }

.commu-ti {
  background: #4b5063;
  border-radius: 20px 20px 0 0;
  color: #fff; }
  .commu-ti h2 {
    padding: 22px 55px;
    font-weight: bold;
    line-height: 1.4;
    font-size: 18px; }

.commu-item {
  background: #fff;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1); }
  .commu-item + .commu-item {
    margin-top: 35px; }
  .commu-item .freeTx {
    padding: 35px 55px 55px 55px; }

#commu3 {
  margin: 35px 0 50px 0; }

.commu-list {
  margin-left: -25px; }
  .commu-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 45px; }
  .commu-list a {
    display: block;
    position: relative;
    margin-left: 25px;
    padding-bottom: 25px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    background: #fff; }
  .commu-list .pai {
    padding-bottom: 60.86957%; }
  .commu-list .txts {
    height: 55px;
    margin: 0 25px;
    padding-top: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; }
  .commu-list .nowti {
    font-size: 18px;
    color: #333;
    transition: 300ms; }
  .commu-list .more {
    float: right;
    margin-left: 10px;
    color: #999; }
  .commu-list .seeMore .txts {
    border: none; }

.see-more-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -54px;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  color: #333; }
  .see-more-btn .icon {
    display: block;
    margin: 0 auto 20px auto;
    border: 1px solid #ccc;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 68px;
    transition: 300ms; }

@media screen and (min-width: 1025px) {
  .commu-list a:not(.seeMore):hover .nowti {
    color: #b22c30; }
  .commu-list a:hover {
    transform: translateY(-20px); }
  .seeMore:hover .see-more-btn .icon {
    background: #b22c30;
    border-color: #b22c30;
    color: #fff; }
  .seeMore:hover .see-more-btn {
    color: #b22c30; } }

.commu-cont {
  padding: 100px 0 75px 0; }
  .commu-cont .pager {
    margin: 50px 0 45px 0; }

.pager a {
  width: 54px;
  height: 54px;
  margin: 0 2px;
  background: #333;
  line-height: 54px;
  color: #fff; }
  .pager a.act {
    background-color: #b22c30; }

.pager .prev, .pager .next {
  background-repeat: no-repeat;
  background-position: center center; }

.pager .prev {
  background-image: url(../images/aw3.png); }

.pager .next {
  background-image: url(../images/aw4.png); }

@media screen and (min-width: 1025px) {
  .pager a:hover {
    background-color: #b22c30; } }

.general-meeting-pa {
  padding: 100px 0 80px 0; }
  .general-meeting-pa .ti {
    margin-bottom: 0; }

.gm-bg {
  background: #fff url(../images/ab_bg2.jpg) no-repeat left 50px; }

.membership-list {
  margin-left: -20px; }
  .membership-list li {
    width: 50%;
    float: left; }
  .membership-list a {
    display: block;
    position: relative;
    padding-bottom: 40px;
    margin-left: 20px; }
    .membership-list a:before {
      content: "";
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 40px;
      right: 35px;
      background: url(../images/ms_bg.jpg) no-repeat center center;
      background-size: cover; }
  .membership-list .pai {
    padding-bottom: 72.32143%; }
  .membership-list .picbox {
    margin-right: 75px; }
  .membership-list .txts {
    position: relative;
    margin: -85px 0 0 75px;
    height: 365px;
    padding: 40px 50px 0 50px;
    border: 5px solid #fff;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    transition: 300ms; }
  .membership-list .ti {
    height: 72px;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 36px !important;
    overflow: hidden; }
  .membership-list .tx {
    margin-bottom: 50px;
    height: 48px; }
  .membership-list .item1 {
    clear: both; }
  .membership-list .item2 {
    padding-top: 11.5%; }

.ms-more {
  color: #b22c30;
  font-size: 16px;
  line-height: 56px;
  text-transform: capitalize;
  transition: 300ms; }
  .ms-more .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    border: 2px solid #b22c30;
    width: 52px;
    height: 52px;
    text-align: center;
    font-size: 26px;
    line-height: 52px;
    transition: border 300ms; }

@media screen and (min-width: 1025px) {
  .membership-list a:hover .txts {
    border-color: #b22c30;
    transform: translateX(-20px); } }

.membership-thr-list {
  margin-left: -20px; }
  .membership-thr-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 40px; }
  .membership-thr-list a {
    display: block;
    margin-left: 20px; }
  .membership-thr-list .picbox {
    margin-right: 30px; }
  .membership-thr-list .pai {
    padding-bottom: 71.79487%; }
  .membership-thr-list .txts {
    position: relative;
    margin: -120px 0 0 65px;
    padding: 35px 35px 0 35px;
    height: 230px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 400ms; }
  .membership-thr-list .nowti {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333; }
  .membership-thr-list .tx {
    margin-bottom: 35px;
    height: 48px; }
  .membership-thr-list .ms-more {
    line-height: 38px;
    font-size: 12px; }
    .membership-thr-list .ms-more .icon {
      width: 34px;
      height: 34px;
      line-height: 34px;
      font-size: 18px; }

@media screen and (min-width: 1025px) {
  .membership-thr-list a:hover .txts {
    transform: translateX(-20px); } }

.load-more {
  position: relative;
  width: 32px;
  height: 32px; }
  .load-more span, .load-more span:before, .load-more span:after {
    position: absolute;
    bottom: 0;
    width: 6px;
    background: #ccc;
    transition: background 300ms; }
  .load-more span {
    display: block;
    left: 50%;
    margin-left: -3px;
    height: 16px;
    animation: heightLong 1s .2s linear infinite alternate both; }
  .load-more span:before, .load-more span:after {
    content: "";
    height: 32px; }
  .load-more span:before {
    right: 100%;
    margin-right: 7px;
    animation: heightLong 1s linear infinite alternate both; }
  .load-more span:after {
    left: 100%;
    margin-left: 7px;
    animation: heightLong 1s .4s linear infinite alternate both; }

@media screen and (min-width: 1025px) {
  .load-more:hover span, .load-more:hover span:before, .load-more:hover span:after {
    background: #b22c30; } }

@keyframes heightLong {
  0% {
    height: 0; }
  100% {
    height: 32px; } }

.ab6 {
  padding: 100px 0 120px 0;
  position: relative; }
  .ab6:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 390px;
    background: #f7f7f7; }
  .ab6 .membership-list {
    margin-bottom: 80px; }
  .ab6 .membership-thr-list {
    margin-bottom: 40px; }

.ab-academic-list {
  margin-left: -30px; }
  .ab-academic-list li {
    float: left;
    width: 33.33%;
    margin-bottom: 40px; }
  .ab-academic-list a {
    display: block;
    padding: 15px;
    padding-bottom: 0;
    background: #fff;
    margin-left: 30px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1); }
  .ab-academic-list .pai {
    padding-bottom: 65.71429%; }
  .ab-academic-list .txts {
    height: 184px;
    padding: 25px 15px 0 15px;
    box-sizing: border-box;
    overflow: hidden; }
  .ab-academic-list .nowti {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: 300ms; }
  .ab-academic-list .tx {
    margin-bottom: 30px;
    height: 48px; }
  .ab-academic-list .date {
    float: left; }
  .ab-academic-list .see {
    float: right; }

.ab7 {
  padding: 70px 0 100px 0; }
  .ab7 .ab-academic-list {
    margin-bottom: 40px; }

@media screen and (min-width: 1025px) {
  .ab-academic-list a:hover {
    background: #b22c30;
    color: #fff;
    transform: translateY(-10px); }
    .ab-academic-list a:hover .nowti {
      color: #fff; } }

.cha-bg {
  background: #3c4151; }

.charitable-list a {
  display: block;
  padding: 30px;
  background: #fff;
  overflow: hidden; }

.charitable-list .pic {
  width: 315px;
  height: 215px;
  margin-right: 40px;
  float: left; }

.charitable-list .txts {
  overflow: hidden;
  padding-right: 40px; }

.charitable-list .tx {
  margin-bottom: 40px;
  height: 48px; }

.charitable-list .cha-ti {
  margin-bottom: 15px; }

.charitable-list .fe-more {
  width: 134px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  transition: color 0ms; }
  .charitable-list .fe-more .icon {
    margin-left: 10px;
    font-size: 20px; }

.charitable-list li + li {
  margin-top: 35px; }

.cha-ti {
  line-height: 1.4;
  font-weight: bold;
  font-size: 22px;
  color: #333; }
  .cha-ti.white {
    color: #fff; }

@media screen and (min-width: 1025px) {
  .charitable-list a:hover {
    background: #b22c30;
    color: #fff; }
  .charitable-list a:hover .nowti {
    color: #fff; }
  .charitable-list a:hover .fe-more {
    border-color: #fff; } }

.charitable-thr-list {
  margin-left: -25px; }
  .charitable-thr-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 50px; }
  .charitable-thr-list a {
    display: block;
    background: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    margin-left: 25px; }
  .charitable-thr-list .txts {
    height: 120px;
    padding: 30px 25px 0 25px;
    box-sizing: border-box;
    overflow: hidden; }
  .charitable-thr-list .nowti {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    transition: 300ms; }
  .charitable-thr-list .date {
    margin-top: 20px;
    text-align: right; }
  .charitable-thr-list .pai {
    padding-bottom: 57.5%; }

@media screen and (min-width: 1025px) {
  .charitable-thr-list a:hover {
    background: #b22c30;
    color: #fff;
    transform: translateY(-10px); }
    .charitable-thr-list a:hover .nowti {
      color: #fff; } }

.cha1 {
  padding: 70px 0 100px 0; }
  .cha1 .charitable-list {
    margin-bottom: 80px; }
  .cha1 .charitable-thr-list {
    margin-top: 30px;
    margin-bottom: 30px; }

.cha-nav {
  background: #3c4151;
  border-bottom: 10px solid #e9c39f;
  color: #fff; }
  .cha-nav a {
    color: #fff; }
  .cha-nav .ab-share {
    float: right; }
  .cha-nav .pnav li > a {
    padding-top: 24px;
    padding-bottom: 24px; }
    .cha-nav .pnav li > a:before {
      top: 0;
      bottom: 0; }
  .cha-nav .ab-share {
    padding-top: 24px;
    padding-bottom: 24px; }

.bodrno .pbanner {
  border: none; }

.cha2 .charitable-thr-list {
  margin-top: 0 !important; }

.member-profile-list {
  margin-left: -25px; }
  .member-profile-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 30px; }
  .member-profile-list a {
    display: block;
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 25px; }
  .member-profile-list .pai {
    padding-bottom: 74.13793%; }
  .member-profile-list .txts {
    height: 135px;
    padding: 20px 10px 0 10px;
    overflow: hidden;
    box-sizing: border-box; }
  .member-profile-list .nowti {
    margin-bottom: 15px; }
    .member-profile-list .nowti span {
      margin-right: 8px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      transition: 300ms; }
  .member-profile-list .tx {
    height: 48px; }

@media screen and (min-width: 1025px) {
  .member-profile-list a:hover {
    background: #b22c30;
    border-color: #b22c30;
    color: #fff; }
  .member-profile-list a:hover .nowti span {
    color: #fff; } }

.pro1 {
  padding: 70px 0 100px 0; }
  .pro1 .member-profile-list {
    margin-bottom: 50px; }
  .pro1 .works-list {
    margin-bottom: 25px; }
  .pro1 .news-list {
    margin-bottom: 45px; }
  .pro1 .news-qm-list {
    margin-bottom: 80px; }

.works-list {
  margin-left: -35px; }
  .works-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 55px; }
  .works-list a {
    display: block;
    margin-left: 35px; }
  .works-list .pic:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/bg1.png);
    opacity: 0;
    visibility: hidden;
    transition: 400ms; }
  .works-list .en {
    margin-bottom: 8px;
    color: #3c4151;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
    .works-list .en span {
      display: inline-block;
      vertical-align: bottom;
      position: relative; }
      .works-list .en span:before {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 2px;
        margin-left: 5px;
        width: 10px;
        height: 4px;
        background: #ccc; }
  .works-list .nowti {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #333; }
  .works-list .txts {
    padding-top: 20px; }

.works-mess {
  text-align: left;
  line-height: 20px;
  font-size: 12px;
  color: #999; }
  .works-mess .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 3px;
    font-size: 14px; }
  .works-mess .icon-shoucang {
    font-size: 16px; }
  .works-mess p {
    transition: 300ms; }
    .works-mess p + p {
      margin-left: 10px; }
    .works-mess p.act {
      color: #b22c30; }

.wk-bg {
  background: #fff; }

@media screen and (min-width: 1025px) {
  .works-list a:hover .pic:after {
    opacity: 1;
    visibility: visible; }
  .works-list a:hover .wd-see {
    transform: none;
    opacity: 1;
    visibility: visible; } }

.news-list {
  margin-left: -35px; }
  .news-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 35px; }
  .news-list a {
    display: block;
    padding: 25px;
    padding-bottom: 0;
    background: #fff;
    margin-left: 35px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1); }
  .news-list .pai {
    padding-bottom: 57.66423%; }
  .news-list .ti {
    height: 48px;
    margin-bottom: 25px;
    line-height: 24px !important;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    transition: 300ms; }
  .news-list .txts {
    height: 125px;
    padding-top: 15px;
    box-sizing: border-box;
    overflow: hidden; }

@media screen and (min-width: 1025px) {
  .news-list a:hover {
    background: #b22c30;
    color: #fff; }
    .news-list a:hover .ti, .news-list a:hover .works-mess {
      color: #fff; } }

.news-qm-list .pic {
  width: 430px;
  height: 255px;
  margin-left: 40px;
  float: right; }

.news-qm-list .txts {
  overflow: hidden; }

.news-qm-list .tx, .news-qm-list .ti {
  width: 500px;
  max-width: 100%; }

.news-qm-list .ti {
  margin-bottom: 25px;
  height: 72px;
  font-size: 26px;
  line-height: 36px !important;
  color: #333;
  overflow: hidden;
  transition: 300ms; }

.news-qm-list .tx {
  margin-bottom: 35px;
  height: 48px; }

.news-qm-list a {
  display: block;
  position: relative;
  padding: 50px 0;
  border-bottom: 1px solid #ccc; }
  .news-qm-list a:before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: #b22c30;
    transition: 400ms; }

.news-qm-list .pw3 {
  position: relative; }

@media screen and (min-width: 1025px) {
  .news-qm-list a:hover:before {
    top: 0;
    bottom: auto;
    height: 100%; }
  .news-qm-list a:hover .ms-more,
  .news-qm-list a:hover .ti,
  .news-qm-list a:hover {
    color: #fff; }
  .news-qm-list a:hover .ms-more .icon {
    border-color: #fff; } }

.ep1 {
  padding: 70px 50px 100px 50px; }

.enterprise-list a {
  display: block;
  position: relative;
  background: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1); }
  .enterprise-list a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 8px;
    background: #b22c30;
    transition: 600ms;
    left: 50%; }

.enterprise-list .picbox {
  width: 50%;
  float: left; }

.enterprise-list .pai {
  padding-bottom: 55.55556%; }

.enterprise-list .txts {
  width: 50%;
  float: left;
  padding: 4% 5% 0 5%;
  box-sizing: border-box; }

.enterprise-list .ch {
  font-size: 18px;
  color: #b22c30; }

.enterprise-list .en {
  margin-top: -2px;
  color: #ccc;
  font-size: 46px;
  line-height: 1.2;
  text-transform: capitalize; }

.enterprise-list .ti {
  margin-top: 30px;
  font-size: 30px;
  color: #333;
  transition: 300ms; }

.enterprise-list .tx {
  margin-top: 10px;
  height: 72px; }

.enterprise-list .btn-box {
  margin-top: 50px; }

.enterprise-list li:nth-child(2n) .picbox {
  float: right; }

.enterprise-list li:nth-child(2n) a:before {
  left: 0; }

@media screen and (min-width: 1025px) {
  .enterprise-list a:hover:before {
    width: 50%; }
  .enterprise-list a:hover .ti {
    color: #b22c30; } }

.cul1 {
  padding: 70px 0 100px 0; }
  .cul1 .freeTx.tac {
    margin-bottom: 35px;
    font-size: 16px; }
  .cul1 .btn-box {
    margin-bottom: 40px; }
  .cul1 .cha-ti {
    margin-bottom: 5px; }

.cul-aw {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff; }
  .cul-aw:before, .cul-aw:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background: #b22c30;
    opacity: .6; }
  .cul-aw:before {
    left: -10px; }
  .cul-aw:after {
    right: -10px; }
  .cul-aw:before, .cul-aw:after, .cul-aw .bg {
    transform: rotate(45deg); }
  .cul-aw .bg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #b22c30; }
  .cul-aw .icon {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    font-size: 20px;
    animation: arrowUpDown 2s linear infinite alternate both; }

.yan-zhen {
  width: 840px;
  max-width: 100%;
  padding: 55px 9% 60px 9%;
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto; }
  .yan-zhen .cha-ti {
    margin-bottom: 35px; }
  .yan-zhen .freeTx {
    margin-bottom: 45px; }

.cul2 {
  padding: 120px 0; }

.cul-list {
  margin-left: -30px; }
  .cul-list li {
    width: 50%;
    float: left;
    margin-bottom: 40px; }
  .cul-list a {
    display: block;
    margin-left: 30px; }
  .cul-list .pai {
    padding-bottom: 56%; }
  .cul-list .txts {
    position: relative;
    padding: 40px 54px 0 35px;
    margin: -65px 45px 0 45px;
    height: 220px;
    border-bottom: 2px solid #ccc;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    transition: 300ms; }
  .cul-list .nowti {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333; }
  .cul-list .tx {
    height: 48px; }
  .cul-list .icon {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 54px;
    height: 54px;
    background: #ccc;
    font-size: 22px;
    text-align: center;
    line-height: 54px;
    color: #fff;
    transition: 300ms; }

@media screen and (min-width: 1025px) {
  .cul-list a:hover .txts {
    border-color: #b22c30;
    transform: translateX(-20px); }
  .cul-list a:hover .icon {
    background: #b22c30; } }

.cul3 {
  padding: 70px 0 60px 0; }

.org-line {
  display: block;
  width: 1px;
  height: 30px;
  background: #ccc; }

.tac .org-line {
  margin: 0 auto; }

.org1 {
  padding: 70px 0 100px 0; }
  .org1 .tx1 {
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 1.4; }
  .org1 .cha-ti {
    margin-bottom: 45px; }
  .org1 .tx2 {
    margin-bottom: 5px; }
  .org1 .freeTx {
    width: 750px;
    max-width: 100%;
    margin: 5px auto 0 auto; }

.elite-list {
  margin-left: -25px;
  overflow: visible; }
  .elite-list .item > a {
    display: block;
    padding: 25px;
    padding-bottom: 0;
    margin-left: 25px;
    background: #fff; }
  .elite-list .pai {
    padding-bottom: 83.78378%; }
  .elite-list .txts {
    height: 168px;
    padding-top: 10px;
    box-sizing: border-box;
    overflow: hidden; }
  .elite-list .ti1 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    transition: 300ms; }
  .elite-list .ti2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .elite-list .ti2:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -10px;
      width: 20px;
      height: 1px;
      background: #e9c39f; }
  .elite-list .tx {
    height: 48px; }
  .elite-list .slick-arrow {
    border-radius: 100%;
    top: 50% !important;
    margin-top: -30px; }
  .elite-list .slick-next {
    left: 100%;
    margin-left: 25px; }
  .elite-list .slick-prev {
    left: auto;
    right: 100%;
    background: #fff; }

@media screen and (min-width: 1025px) {
  .elite-list .item > a:hover {
    background: #b22c30;
    color: #fff; }
  .elite-list .item > a:hover .ti1 {
    color: #fff; } }

.org2 {
  padding: 70px 0 100px 0; }
  .org2 .elite-list {
    margin-top: 50px; }
