@charset "utf-8";
//主颜色
$mc1: #b22c30;
$mc2: #e9c39f;
$mc3: #3c4151;
$mco31: rgba(58,63,79,.9);
$mc4: #fa9497;
$mc5: #4b5063;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
