@charset "utf-8";
//主颜色
$mc1: #0d4e98;
$mc11: rgba(13,78,152,.9);
$mc12: rgba(13,78,152,.7);
$mc2: #308ed5;
$mc3: #f7fcff;
$mc4: #113e98;
$mc5: #2d8dc5;
$mc6: #3d6da2;
$mc7: #a0b2cf;
$mc8: #4784ca;
$mc9: #c2d0df;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
