@charset "utf-8";
@import "color";
@import "repeat";
.page-top{ position: relative; }
.index-lines{
    span{ display: block; position: fixed; z-index: 9999; background: $mc2; }
    .l1, .l3{ width: 100%; height: 10px; }
    .l2, .l4{ height: 100%; width: 10px; }
    .l4, .l1{ top: 0; left: 0; }
    .l2, .l3{ right: 0; bottom: 0; }
}
.index-bg{
    position: relative; background: $mc3 url(../images/index_bg.jpg) repeat;
    &:before{ @include ba; @include tblr; background: url(../images/index_bg2.png) repeat-y center top; }
}
@media screen and (max-width:1920px) {
	.index-bg:before{ background-size: cover; }
}
.banner{
    .pic2{ position: absolute; top: 0; left: 0; }
    .slick-dots{ bottom: 35px; 
        li{ width: 14px; height: 14px; margin: 0 15px; border: 4px solid #fff; background: none; }
        .slick-active{ border-color: $mc1; }
    }
    .txts{ position: absolute; left: 50%; top: 50%; margin: -200px 0 0 -200px; width: 400px; height: 400px; border: 3px solid #fff;  @include bs; color: #fff; 
        a{ color: #fff; }
    }
    .t{ line-height: 310px; 
        img{ display: inline; max-width: 100%; vertical-align: middle; }
    }
    .b{ padding-top: 20px; border-top: 1px solid #fff; }
    .ti2{ line-height: 1.4; font-size: 16px; }
    .date{ font-style: italic; margin-top: 1px; }
}
@media screen and (min-width:1025px) {
    .banner .slick-dots li:hover{ border-color: $mc1; }
}
.header{
    .logo{ position: absolute; z-index: 500; left: 40px; top: 35px; width: 80px; }
}
.menu-btn{
    position: fixed; top: 45px; right: 55px; z-index: 2000; @include c(50px); background: $mc1; cursor: pointer; transition: background .3s;
    span, span:before, span:after{ position: absolute; width: 20px; height: 2px; background: #fff; }
    span:before, span:after{ content: ""; right: 0; transition: background .3s, transform .6s; }
    span{ display: block; top: 50%; margin-top: -1px; right: 15px; width: 16px; animation: long 1s .3s linear infinite alternate both; transition: background .3s; }
    span:before{ bottom: 100%; margin-bottom: 5px; animation: long 1s 0s linear infinite alternate both; }
    span:after{ top: 100%; margin-top: 5px; animation: long 1s .6s linear infinite alternate both; }
    &.active{
        background: $mc2;
        span:before, span:after{ animation: none; background: $mc1; }
        span{ background: none; animation: none; }
        span:before{ bottom: 0; margin: 0; transform: rotate(-135deg); }
        span:after{ top: 0; margin: 0; transform: rotate(315deg); }
    }
}
@keyframes long{
    0%{ width: 10px; }
    100%{ width: 20px; }
}
@media screen and (min-width:1025px) {
    .menu-btn:not(.active):hover{
        background: $mc2;
        span, span:before, span:after{ background: $mc1; }
    }
    .menu-btn.active:hover{
        background: $mc4;
    }
}
.menuBox{
    position: fixed; z-index: 1990; @include tblr; background: url(../images/nav_bg.jpg); color: #fff; overflow: hidden; display: none;
    a{ color: #fff; }
    .pic2{ width: 41.66%; height: 100%; float: left; @include bg; }
    .menur{ width: 100% - 41.66%; height: 100%; padding: (220 / 1920) * 100% 50px + 55px 60px (155 / 1920) * 100%; @include bs; float: right; background: url(../images/nav_bg1.jpg) no-repeat right bottom; }
}
.navMobile{
    height: 100%; @include bs; @include sy;
    &::-webkit-scrollbar { width: 6px; background: $mc4; }
    &::-webkit-scrollbar-thumb { background: $mc1; }
    dd{
        margin-bottom: 35px;
        &:first-child{ display: none; }
        a{ display: block; line-height: 1.4; }
        > a{ font-weight: bold; font-size: 16px; }
    }
    .mtv{
        overflow: hidden; margin-top: 10px;
        a{ float: left; margin: 5px 30px 0 0; color: $mc4; }
    }
}
@media screen and (min-width:1025px) {
    .navMobile a:hover{ color: $mc2; }
}
.top-news{
    position: absolute; left: 0; bottom: 0; z-index: 200; padding: 25px 20px 30px 40px; @include bs; width: 545px; max-width: 100%; background: $mco31; color: #fff;
    a{ color: #fff; }
    .ti{ margin-bottom: 7px; font-size: 12px; }
}
.top-news-list{
    .item{
        > a{ display: block; line-height: 20px; padding-right: 10px; }
    }
    .date{ float: right; margin-left: 20px; }
    .nowti{ line-height: 20px; }
}
@media screen and (min-width:1025px) {
    .top-news-list .item > a:hover{ color: $mc1; }
}
.footer{
    background: url(../images/nav_bg.jpg); padding: 65px 0; color: $mc4; line-height: 1.6;
    a{ color: $mc4; }
    .logo{ width: 131px; max-width: 100%; margin: 0 auto; }
    .f-cop{
        margin-top: 25px;
        a{ display: block; }
    }
    .f-share{ margin-top: 60px; }
}
.f-share{
    line-height: 26px;
    a{ padding: 0 28px; font-size: 22px; 
        + a{ border-left: 1px solid $mc4; }
    }
}
@media screen and (min-width:1025px) {
    .footer a:hover{ color: $mc2; }
}
.ix1{
    padding: 250px 0 0 (175 / 1200) * 100%;
}
.character-intro{
    .picbox{ z-index: 9; height: 368px; width: 654px; max-width: 100%; background: $mc2; overflow: visible; }
    .ix-ti{ height: 100%; padding-top: 30px; }
    .ci{ position: absolute; bottom: 0; left: 0; z-index: -1; display: block; width: 100%; }
    .txts{ position: relative; z-index: 20; background: $mc5; width: 574px; margin: -165px 0 0 295px; padding: 40px 50px; @include bs; color: #fff; 
        a{ color: #fff; }
        .freeTx{ margin-bottom: 30px; }
    }
}
.ix-ti{
    width: 120px; @include bs; background: $mc1 url(../images/index_bg1.jpg) no-repeat right bottom; background-size: 100% auto; text-align: center;
    img{ vertical-align: bottom; }
}
.btn-box{
    letter-spacing: -6px; line-height: 0;
    .btn{ @include di; letter-spacing: 0; line-height: 1.8; }
}
.ci-more{
    border-bottom: 1px solid #fff; padding: 0 45px 7px 0; font-size: 12px;
}
@media screen and (min-width:1025px) {
    .ci-more:hover{ color: $mc1; padding-right: 15px; border-color: $mc1; } 
    .character-intro .ci-more:hover{ color: $mc1; }
}
.ix2{
    padding-top: 200px;
}