@charset "utf-8";
@import "color";
@import "repeat";
.page-top{ position: relative; }
.container{ background: $hc4; }
.index-lines{
    span{ display: block; position: fixed; z-index: 9999; background: $mc2; }
    .l1, .l3{ width: 100%; height: 10px; }
    .l2, .l4{ height: 100%; width: 10px; }
    .l4, .l1{ top: 0; left: 0; }
    .l2, .l3{ right: 0; bottom: 0; }
}
.index-bg{
    position: relative; z-index: 1; background: $mc3 url(../images/index_bg.jpg) repeat;
    &:before{ @include ba; @include tblr; z-index: -1; background: url(../images/index_bg2.png) repeat-y center top; }
}
@media screen and (max-width:1920px) {
	.index-bg:before{ background-size: cover; }
}
.banner{
    .pic2{ position: absolute; top: 0; left: 0; }
    .txts{ position: absolute; left: 50%; top: 50%; margin: -200px 0 0 -200px; width: 400px; height: 400px; border: 3px solid #fff;  @include bs; color: #fff; 
        a{ color: #fff; }
    }
    .t{ line-height: 310px; 
        img{ display: inline; max-width: 100%; vertical-align: middle; }
    }
    .b{ padding-top: 20px; border-top: 1px solid #fff; }
    .ti2{ line-height: 1.4; font-size: 16px; }
    .date{ font-style: italic; margin-top: 1px; }
}
.slick-dots{ bottom: 35px; 
    li{ width: 14px; height: 14px; margin: 0 15px; border: 4px solid #fff; background: none; }
    .slick-active{ border-color: $mc1; }
}
@media screen and (min-width:1025px) {
    .slick-dots li:hover{ border-color: $mc1; }
}
.header{
    .logo{ position: absolute; z-index: 500; left: 40px; top: 35px; width: 80px; }
}
.logo{
    img{ display: block; width: 100%; }
}
.menu-btn{
    position: fixed; top: 45px; right: 55px; z-index: 2000; @include c(50px); background: $mc1; cursor: pointer; transition: background .3s;
    span, span:before, span:after{ position: absolute; width: 20px; height: 2px; background: #fff; }
    span:before, span:after{ content: ""; right: 0; transition: background .3s, transform .6s; }
    span{ display: block; top: 50%; margin-top: -1px; right: 15px; width: 16px; animation: long 1s .3s linear infinite alternate both; transition: background .3s; }
    span:before{ bottom: 100%; margin-bottom: 5px; animation: long 1s 0s linear infinite alternate both; }
    span:after{ top: 100%; margin-top: 5px; animation: long 1s .6s linear infinite alternate both; }
    &.active{
        background: $mc2;
        span:before, span:after{ animation: none; background: $mc1; }
        span{ background: none; animation: none; }
        span:before{ bottom: 0; margin: 0; transform: rotate(-135deg); }
        span:after{ top: 0; margin: 0; transform: rotate(315deg); }
    }
}
@keyframes long{
    0%{ width: 10px; }
    100%{ width: 20px; }
}
@media screen and (min-width:1025px) {
    .menu-btn:not(.active):hover{
        background: $mc2;
        span, span:before, span:after{ background: $mc1; }
    }
    .menu-btn.active:hover{
        background: $mc4;
    }
}
.menuBox{
    position: fixed; z-index: 1990; @include tblr; background: url(../images/nav_bg.jpg); color: #fff; overflow: hidden; display: none;
    a{ color: #fff; }
    .pic2{ width: 41.66%; height: 100%; float: left; @include bg; }
    .menur{ width: 100% - 41.66%; height: 100%; padding: (220 / 1920) * 100% 50px + 55px 60px (155 / 1920) * 100%; @include bs; float: right; background: url(../images/nav_bg1.jpg) no-repeat right bottom; }
}
.navMobile{
    height: 100%; @include bs; @include sy;
    &::-webkit-scrollbar { width: 6px; background: $mc4; }
    &::-webkit-scrollbar-thumb { background: $mc1; }
    dd{
        margin-bottom: 35px;
        &:first-child{ display: none; }
        a{ display: block; line-height: 1.4; }
        > a{ font-weight: bold; font-size: 16px; }
    }
    .mtv{
        overflow: hidden; margin-top: 10px;
        a{ float: left; margin: 5px 30px 0 0; color: $mc4; }
    }
}
@media screen and (min-width:1025px) {
    .navMobile a:hover{ color: $mc2; }
}
.top-news{
    position: absolute; left: 0; bottom: 0; z-index: 200; padding: 25px 20px 30px 40px; @include bs; width: 545px; max-width: 100%; background: $mco31; color: #fff;
    a{ color: #fff; }
    .ti{ margin-bottom: 7px; font-size: 12px; }
}
.top-news-list{
    .item{
        > a{ display: block; line-height: 20px; padding-right: 10px; }
    }
    .date{ float: right; margin-left: 20px; }
    .nowti{ line-height: 20px; }
}
@media screen and (min-width:1025px) {
    .top-news-list .item > a:hover{ color: $mc1; }
}
.footer{
    background: url(../images/nav_bg.jpg); padding: 65px 0; color: $mc4; line-height: 1.6;
    a{ color: $mc4; }
    .logo{ width: 131px; max-width: 100%; margin: 0 auto; }
    .f-cop{
        margin-top: 25px;
        a{ display: block; }
    }
    .f-share{ margin-top: 60px; }
}
.f-share{
    line-height: 26px;
    a{ padding: 0 28px; font-size: 22px; 
        + a{ border-left: 1px solid $mc4; }
    }
}
@media screen and (min-width:1025px) {
    .footer a:hover{ color: $mc2; }
}
.ix1{
    padding: 250px 0 0 (175 / 1200) * 100%;
}
.character-intro{
    .picbox{ z-index: 9; height: 368px; width: 654px; max-width: 100%; background: $mc2; overflow: visible; }
    .ix-ti{ height: 100%; padding-top: 30px; }
    .ci{ position: absolute; bottom: 0; left: 0; z-index: -1; display: block; width: 100%; }
    .ci-tx{ position: relative; margin: -165px 0 0 295px; }
}
.ci-tx{
    z-index: 20; background: $mc5; width: 574px; padding: 40px 50px; @include bs; color: #fff;
    a{ color: #fff; }
    .freeTx{ margin-bottom: 30px; }
}
.ix-ti{
    width: 120px; @include bs; background: $mc1 url(../images/index_bg1.jpg) no-repeat right bottom; background-size: 100% auto; text-align: center;
    img{ vertical-align: bottom; }
}
.btn-box{ letter-spacing: -6px; line-height: 0; }
.btn{ @include di; letter-spacing: 0; line-height: 1.8; }
.ci-more{
    border-bottom: 1px solid #fff; padding: 0 45px 7px 0; font-size: 12px;
}
@media screen and (min-width:1025px) {
    .ci-more:hover{ color: $mc1; padding-right: 15px; border-color: $mc1; } 
    .character-intro .ci-more:hover{ color: $mc1; }
}
.ix2{
    padding-top: 200px;
}
.yz-seminar{
    position: relative; padding-left: (175 / 1200) * 100%;
    .ix-ti{ position: absolute; top: -55px; bottom: 40px; right: 65px; padding-top: 50px; }
    .pai{
        padding-bottom: (580 / 1025) * 100%;
        &:before, &:after{ content: ""; }
        &:before, &:after, .line{ position: absolute; top: 0; bottom: 0; z-index: 9; margin-left: -7px; width: 14px; background: $mc5; }
        &:before{ left: 25%; }
        &:after{ left: 50%; }
        .line{ display: block; left: 75%; }
    }
    .ci-tx{ position: absolute; left: 0; bottom: 40px; }
}
.ix5, .ix4, .ix3{ padding-top: 150px; }
.yz-fellowship{
    .ix-ti{ float: left; height: 310px; padding-top: 40px; }
    .fellowship-r{ margin-left: 175px; }
}
.fellowship-list{
    overflow: visible; margin-left: -20px;

}
.fellowship-arrow{
    .slick-arrow{ right: auto; top: 310px; margin: 0; width: 60px; height: 60px; 
        i{ display: block; height: 100%; background: url(../images/aw1.png) no-repeat; }
    }
    .slick-prev{ left: -155px; background: $mc2; }
    .slick-next{ left: -95px; background: #fff; 
        i{ background-position: right top; }
    }
}
@media screen and (min-width:1025px) {
    .fellowship-arrow .slick-arrow:hover{ background: $mc1; }
    .fellowship-arrow .slick-prev:hover i{ background-position: left bottom; }
    .fellowship-arrow .slick-next:hover i{ background-position: right bottom; }
}
.fellowship-a{
    display: block; margin-left: 20px; padding-left: 30px;
    .pai{ padding-bottom: (300 / 470) * 100%; }
    .fs-tx{ position: relative; margin: -40px 40px 0 -30px; height: 210px; padding: 40px 45px 0 30px;  }
}
.fs-tx{
    padding: 50px 45px 0 45px; background: $mc5; color: #fff; @include bs; overflow: hidden; @include mt4;
    .nowti{ margin-bottom: 8px; font-size: 20px; }
    .tx{ height: 22px * 2; margin-bottom: 25px; line-height: 22px !important; }
    .clearfix{ font-size: 12px; }
    .more{ float: right; }
}
@media screen and (min-width:1025px) {
    .fellowship-a:hover .fs-tx{ background: $mc1; transform: translateY(-10px); } 
}
.ix4{
    .ix-ti{ float: right; padding-top: 35px; height: 471px; }
    .academic-list{ margin-right: 160px; }
}
.academic-list{
    li{ width: 50%; float: left; }
    .fs-tx{ display: block; margin: 0 1px 1px 0; height: 235px; }
}
@media screen and (min-width:1025px) {
    .academic-list .fs-tx:hover{ background: $mc1; }
}
.ix5{
    padding-bottom: 120px;
    .works-display-r{ margin-left: 160px; }
}
.works-display-list{
    margin-left: -30px; padding-bottom: 70px;
    .slick-dots{ left: -130px; bottom: 0; }
}
.works-a{
    display: block; position: relative; margin-left: 30px; color: #fff;
    .pai{ padding-bottom: (615 / 330) * 100%; 
        &:before, &:after{ @include ba; @include tblr; z-index: 1; @include mt4; }
        &:before{ background: url(../images/shadow1.png) left bottom; background-size: auto 100%; }
        &:after{ background: url(../images/bg1.png); @include hide; }
    }
    .nowti{ @include plr; bottom: 20px; z-index: 20; padding: 0 5%; font-size: 16px; text-align: center; }
}
.wd-see{
    @include plr; top: 50%; z-index: 20; margin-top: -30px; text-align: center; color: #fff; transform: translateY(-20px); @include hide; @include mt4;
    .icon{ display: block; margin-bottom: 6px; font-size: 28px; line-height: 1; }
}
.works-display{
    position: relative;
    .ix-ti{ position: absolute; top: 0; bottom: 70px; left: 0; padding-top: 50px; }
}
@media screen and (min-width:1025px) {
    .works-a:hover .pai:before{ @include hide; }
    .works-a:hover .pai:after{ @include show; }
    .works-a:hover .wd-see{ transform: none; @include show; }
}
.page-bodr{ border: 10px solid $mc2; border-bottom: none; }
.pbanner{
    border-bottom: 10px solid $mc2;
    .txts{ position: absolute; @include tblr; padding: 0 20%; color: #fff; 
        img{ vertical-align: bottom; max-width: 100%; }
    }
    .en{ margin-top: 10px; font-size: 20px; }
    .ti{ margin-bottom: 15px; }
}
.ab-ti{
    padding-left: 30px;
    .en{ width: 470px; max-width: 100%; margin-top: 15px; line-height: 1.4; font-size: 16px; }
    h2{ position: relative; line-height: 0; 
        &:before{ @include ba; left: -30px; top: 50%; margin-top: -8px; @include c(16px); border: 3px solid $mc1; @include bs; }
    }
    img{ vertical-align: bottom; max-width: 100%; }
}
.formally-established{
    width: 680px; max-width: 100%; padding: 100px 60px; background: url(../images/bg2.png); @include bs;
    h2{ margin-bottom: 30px; }
    .freeTx{ margin-bottom: 35px; }
}
.fe-more{
    border: 2px solid $fc2; width: 190px - 4px; height: 52px; text-align: center; line-height: 52px; font-size: 16px;
    .icon{ @include di; margin-left: 20px; font-size: 24px; }
}
@media screen and (min-width:1025px) {
    .fe-more:hover{ background: $mc1; border-color: $mc1; color: #fff; } 
}
.pw2{ width: 1360px; margin: 0 auto; }
.ab2{ padding: 110px 0; }
.an-assembly{
    background: $mc5;
    a{ color: #fff; display: block; }
    .picbox{ width: 61.7%; float: left; }
    .pai{ padding-bottom: (520 / 840) * 100%; }
    .txts{ width: 100% - 61.7%; float: right; padding: (110 / 1360) * 100% 60px 0 60px; @include bs; }
    .ab-ti{ padding-left: 0; 
        h2:before{ display: none; }
    }
    .tx1{ margin-top: 30px; height: 24px * 2; }
    .tx2{ margin-bottom: 40px; }
}
.aa-more{ @include c(64px); background: $mc6 url(../images/aw2.png) no-repeat center center; @include mt3; }
@media screen and (min-width:1025px) {
    .aa-more:hover{ background-color: $mc1; }
}
.ab1, .ab4, .ab3{ padding: 110px 0; }
.ab5, .ab4{
    .btn-box{ float: right; }
    .ab-ti h2{ margin-right: 200px; }
}
.ab5 .learning,
.ab4 .congress-list{ margin-top: 80px; }
.congress-list{ padding: 0 95px; margin-left: -25px; }
.congress-a{
    display: block; height: 255px; margin-left: 25px; background: #fff; padding: 20px 35px 0 35px; @include bs; overflow: hidden;
    .ti{ height: 26px * 2; margin-top: 25px; font-size: 16px; line-height: 26px !important; font-weight: bold; color: $fc1; overflow: hidden; }
    .more{ margin-top: 40px; color: $fc3; font-size: 12px; }
    .ti, .more{ @include mt3; }
}
.co-date{
    position: relative; width: 62px; height: 62px; border: 1px solid $hc1; text-align: center; line-height: 1; font-size: 16px; @include mt3;
    span{ display: block; }
    .m{ padding-top: 14px; }
    .y{ @include plr; bottom: 12px;
        i{ display: none; }
    }
}
@media screen and (min-width:1025px) {
    .congress-a:hover{ background: rgba(255,255,255,.9);  
        .ti, .more{ color: $mc1; }
        .co-date{ border-color: $mc1; background: $mc1; color: #fff; }
    }
}
.congress-arrow{
    .slick-arrow{ @include c(72px); margin-top: -(72px / 2); background: $fc2; 
        i{ display: block; height: 100%; }
    }
    .slick-prev{
        left: 25px;
        i{ background: url(../images/aw3.png) no-repeat center center; }
    }
    .slick-next i{ background: url(../images/aw4.png) no-repeat center center; }
}
@media screen and (min-width:1025px) {
    .congress-arrow .slick-arrow:hover{ background-color: $mc1; }
}
.learning-spe{
    a{ color: #fff; }
    position: relative; width: (510 / 1360) * 100%; float: left;
    .pai{ padding-bottom: (330 / 510) * 100%; }
    .nowti{ @include plr; bottom: 0; padding: 0 25px; @include b5; font-size: 16px; line-height: 50px; }
}
.learning-r{
    width: 57.5%; float: right;
}
.learning-list{
    margin-left: -45px;
    li{ width: 50%; float: left; margin-bottom: 50px; }
    a{ display: block; margin-left: 45px; }
    .pic{ width: 110px; float: left; margin-right: 15px; }
    .txts{ overflow: hidden; }
    .nowti{ margin-bottom: 10px; font-size: 16px; font-weight: bold; color: $fc1; @include mt3; }
    .tx{ margin-bottom: 40px; height: 24px * 2; }
    .more{ font-size: 12px; }
}
@media screen and (min-width:1025px) {
    .learning-list a:hover .nowti{ color: $mc1; }
}
.ab5{ padding: 110px 0 110px - 50px 0; }
.years-list{
    position: relative;
    &:before{ @include ba; left: 0; right: 0; top: 50%; border-top: 1px solid $mc2; }
    li{ position: relative; z-index: 1; width: 100px; height: 100px; margin: 0 10px; line-height: 100px; text-align: center; font-size: 18px; color: #fff; cursor: pointer; @include mt3;
        &:before{ @include ba; z-index: -1; top: 20px; left: 20px; @include c(60px); background: $mc5; @include mt4; }
        &.act{
            font-size: 32px;
            &:before{ width: 100%; height: 100%; top: 0; left: 0; background: $mc1; }
        }
    }
}
@media screen and (min-width:1025px) {
    .years-list li:hover:before{ background: $mc1; }
}
.preparation-list{
    background: #fff; padding: 50px 60px 100px 60px; border-bottom: 10px solid $mc1;
    .year{ margin-bottom: 33px - 13px; font-size: 20px; line-height: 1.4; font-weight: bold; color: $fc1; }
    li{ display: none; }
}
.ab1{
    .years-list{ margin-bottom: 40px; }
    .ab-ti{ margin-bottom: 70px; }
}
.ab-established-t{
    padding-top: 100px; border-bottom: 10px solid $mc2; background: $mc7 url(../images/ab_bg.jpg) no-repeat center center; background-size: cover; color: #fff;
    a{ color: #fff; }
    .freeTx{ width: 800px; margin: 84px - 14px auto 0 auto; max-width: 100%; }
    .ti{
        margin-bottom: 35px - 10px;
        img{ vertical-align: bottom; max-width: 100%; }
    }
    .ab-back-share{ margin-top: 50px; }
}
.icon-date{
    line-height: 24px;
    .icon{ @include di; margin-right: 6px; font-size: 18px; }
}
.basic-intro{
    li + li{ margin-left: 40px; }
}
.pw3{ width: 1000px; max-width: 90%; margin: 0 auto; }
.ab-back-share{
    border-top: 1px solid $mc8; padding: (88px - 30px) / 2 0;
    .pnav, .ab-back{ float: left; }
    .ab-share{ float: right; }
    .pnav{ margin-left: 30px; }
}
.ab-back{
    line-height: 30px;
    .icon{ @include di; margin-right: 10px; font-size: 26px; }
}
.ab-share{
    a{ line-height: 30px !important; height: auto !important; background: none !important; font-size: 14px !important; opacity: 1 !important;
        &:before{ font-size: 26px; vertical-align: bottom; margin-right: 10px; }
    }
}
@media screen and (min-width:1025px) {
    .ab-back:hover{ color: $mc1; }
    .ab-share a:hover{ color: $mc1 !important; }
}
.fe-ti{ color: $mc1; font-size: 30px; font-weight: bold; line-height: 1.4; }
.ab-established-cont{
    padding-top: 100px;
    .freeTx{ width: 800px; margin: 0 auto 80px auto; max-width: 100%; }
    .fixbg{ padding: 100px 0 90px 0; margin-bottom: 75px; }
    .fe-ti{ margin-bottom: 36px - 16px; }
    .btn-box{ margin-bottom: 50px; }
    .leader-bg{ padding: 75px 0 85px 0; margin-top: 85px; }
}
.fe-aw{ position: relative; width: 46px; height: 46px; line-height: 46px; color: #fff; 
    &:before{ @include ba; @include tblr; background: $mc2; transform: rotateZ(45deg); }
    .icon{ @include di; position: relative; font-size: 24px; animation: arrowUpDown 2s linear infinite alternate both; }
}
@keyframes arrowUpDown {
    0%{ transform: translateY(-5px); }
    100%{ transform: translateY(5px); }
}
.government-list{
    margin-left: -10px;
    .pai{ margin-left: 10px; padding-bottom: (465 / 385) * 100%; }
    a{ width: 50%; float: left; margin-bottom: 10px; }
}
.government-b{  width: 780px; max-width: 90%; margin: 0 auto; }
.leader-ti{
    padding: (74px - 24px) / 2 25px; background: $mc1; line-height: 24px; color: #fff;
    .tit{ float: left; margin-right: 20px; font-size: 20px; font-weight: bold; }
    .text{ float: left; font-size: 16px; }
}
.leader-table{
    table{
        width: 100%; background: #fff; text-align: center;
        td, th{ padding: (70px - 30px) / 2 10px; width: 25%; border: 1px solid $mc9; }
        td{ font-size: 16px; }
        tr:nth-child(2n-1){ background: $mc10; }
        th{ background: $mc11; font-size: 18px; color: #fff; }
        .job{ display: block; font-size: 12px; color: $fc3; }
    }
}
.leader-bg{ background: $hc2; }
.pnav{ line-height: 30px; 
    li{ float: left; 
        >a{ display: block; position: relative; z-index: 1; padding: 0 30px; font-size: 16px;
            &:before{ @include ba; z-index: -1; left: 0; right: 0; top: -29px; bottom: -29px; background: #fff; @include hide; @include mt3; }
            &.act{
                color: $fc1;
                &:before{ @include show; }
            }
        }
    }
}
@media screen and (min-width:1025px) {
    .pnav li>a:not(.act):hover{ color: $mc1; }
}
.commu-ti{
    background: $mc5; border-radius: 20px 20px 0 0; color: #fff;
    h2{ padding: (69px - 25px) / 2 55px; font-weight: bold; line-height: 1.4; font-size: 18px; }
}
.commu-item{
    + .commu-item{ margin-top: 35px; }
    background: #fff; border-radius: 0 0 20px 20px; box-shadow: 0 4px 2px rgba(0,0,0,.1);
    .freeTx{ padding: 39px - 4px 55px 55px 55px; }
}
#commu3{ margin: 35px 0 50px 0; }
.commu-list{
    margin-left: -25px;
    li{ width: 33.33%; float: left; margin-bottom: 45px; }
    a{ display: block; position: relative; margin-left: 25px; padding-bottom: 25px; box-shadow: 0 4px 2px rgba(0,0,0,.1); background: #fff; }
    .pai{ padding-bottom: (210 / 345) * 100%; }
    .txts{ height: 55px; margin: 0 25px; padding-top: (55px - 25px) / 2; @include bs; border-bottom: 1px solid $hc1; }
    .nowti{ font-size: 18px; color: $fc1; @include mt3; }
    .more{ float: right; margin-left: 10px; color: $fc3; }
    .seeMore{
        .txts{ border: none; }
    }
}
.see-more-btn{
    @include plr; top: 50%; margin-top: -(108px / 2); text-align: center; line-height: 1; font-size: 18px; color: $fc1;
    .icon{ display: block; margin: 0 auto 20px auto; border: 1px solid $hc1; @include c(70px); @include bs; font-size: 14px; line-height: 68px; @include mt3; }
}
@media screen and (min-width:1025px) {
    .commu-list a:not(.seeMore):hover .nowti{ color: $mc1; }
    .commu-list a:hover{ transform: translateY(-20px); }
    .seeMore:hover .see-more-btn .icon{ background: $mc1; border-color: $mc1; color: #fff; }
    .seeMore:hover .see-more-btn{ color: $mc1; }
}
.commu-cont{ padding: 100px 0 120px - 45px 0; 
    .pager{ margin: 95px - 45px 0 45px 0; }
}
.pager{
    a{ width: 54px; height: 54px; margin: 0 2px; background: $fc1; line-height: 54px; color: #fff; }
    .prev, .next{ background-repeat: no-repeat; background-position: center center; }
    .prev{ background-image: url(../images/aw3.png); }
    .next{ background-image: url(../images/aw4.png); }
}
@media screen and (min-width:1025px) {
    .pager a:hover{ background-color: $mc1; }
}
.general-meeting-pa{ padding: 100px 0 130px - 50px 0; 
    .ti{ margin-bottom: 0; }
}
.gm-bg{
    background: #fff url(../images/ab_bg2.jpg) no-repeat left top;
}