<div class="header clearfix">
    <a href="index.html" class="logo"><img src="images/logo.png"/></a>
    <div class="h-news u-slick">
        <div class="item"><a href="news-detail.html"><p class="date">2018-11-15</p><h3 class="nowti">- 成都铼谱科技有限公司于高新区天府生命科技园购地重组正式成立</h3></a></div>
        <div class="item"><a href="news-detail.html"><p class="date">2018-11-15</p><h3 class="nowti">- 成都铼谱科技有限公司于高新区天府生命科技园购地重组正式成立</h3></a></div>
        <div class="item"><a href="news-detail.html"><p class="date">2018-11-15</p><h3 class="nowti">- 成都铼谱科技有限公司于高新区天府生命科技园购地重组正式成立</h3></a></div>
    </div>
    <div class="menu-btn">
        <p class="x1">menu</p>
        <p class="x2">close</p>
        <div class="mbtn"><i class="i1"></i><i class="i2"></i></div>
    </div>
    <!-- menu-btn -->
    <div class="c clearfix">
        <span class="bodr"></span>
        <ul class="nav">
            <li><a href="about.html" @@if (context.about==='act') { class="act" }>关于铼谱</a>
                <div class="pull-nav">
                    <a href="about1.html">公司介绍</a>
                    <a href="about2.html">企业文化</a>
                    <a href="about3.html">组织架构</a>
                    <a href="about4.html">资质荣誉</a>
                    <a href="news1.html">生产掠影</a>
                </div>
            </li>
            <li><a href="news.html" @@if (context.news==='act') { class="act" }>新闻中心</a>
                <div class="pull-nav">
                    <a href="news.html">公司新闻</a>
                    <a href="news1.html">企业风采</a>
                    <a href="news1.html">团队活动</a>
                    <a href="news.html">行业动态</a>
                </div>
            </li>
            <li><a href="pro.html" @@if (context.pro==='act') { class="act" }>产品·案例</a>
                <div class="pull-nav">
                    <a href="pro1.html">半制备/制备液相色谱系统</a>
                    <a href="pro1.html">中试放大制备液相色谱系统</a>
                    <a href="pro1.html">工业化制备液相色谱系统</a>
                    <a href="pro1.html">制备色谱系统组件</a>
                    <a href="pro1.html">样品制备及分离纯化解决方案服务</a>
                    <a href="pro1.html">其他</a>
                </div>
            </li>
            <li><a href="case.html" @@if (context.case==='act') { class="act" }>解决方案</a></li>
            <li><a href="ser.html" @@if (context.ser==='act') { class="act" }>服务·支持</a>
                <div class="pull-nav">
                    <a href="ser.html">应用技术支持</a>
                    <a href="ser1.html">售后服务</a>
                    <a href="ser2.html">常见问题解答</a>
                    <a href="ser3.html">资料下载</a>
                </div>
            </li>
            <li><a href="cta.html" @@if (context.cta==='act') { class="act" }>联系我们</a></li>
        </ul>
        <div class="h-lang">
            <p>中文<i class="icon iconfont icon-xiangxiajiantou"></i></p>
            <div class="b">
                <a href="#">EN</a>
            </div>
        </div>
    </div>
</div>
<!-- header -->
<div class="menuBox">
    <div class="lang"><a href="#">中</a>&nbsp;/&nbsp;<a href="#">EN</a></div>
    <dl class="navMobile">
        <dd><a href="index.html"><p>首页</p></a></dd>
        <dd><a href="about.html"><p>关于铼谱</p></a>
            <div class="mtv">
                <a href="about1.html">公司介绍</a>
                <a href="about2.html">企业文化</a>
                <a href="about3.html">组织架构</a>
                <a href="about4.html">资质荣誉</a>
                <a href="news1.html">生产掠影</a>
            </div>
        </dd>
        <dd><a href="news.html"><p>新闻中心</p></a>
            <div class="mtv">
                <a href="news.html">公司新闻</a>
                <a href="news1.html">企业风采</a>
                <a href="news1.html">团队活动</a>
                <a href="news.html">行业动态</a>
            </div>
        </dd>
        <dd><a href="pro.html"><p>产品·案例</p></a>
            <div class="mtv">
                <a href="pro1.html">半制备/制备液相色谱系统</a>
                <a href="pro1.html">中试放大制备液相色谱系统</a>
                <a href="pro1.html">工业化制备液相色谱系统</a>
                <a href="pro1.html">制备色谱系统组件</a>
                <a href="pro1.html">样品制备及分离纯化解决方案服务</a>
                <a href="pro1.html">其他</a>
            </div>
        </dd>
        <dd><a href="case.html"><p>解决方案</p></a></dd>
        <dd><a href="ser.html"><p>服务·支持</p></a>
            <div class="mtv">
                <a href="ser.html">应用技术支持</a>
                <a href="ser1.html">售后服务</a>
                <a href="ser2.html">常见问题解答</a>
                <a href="ser3.html">资料下载</a>
            </div>
        </dd>
        <dd><a href="cta.html"><p>联系我们</p></a></dd>
    </dl>
    <br/><br/><br/><br/>
</div>
<!-- menuBox -->
<div class="mtop"></div>
